
.centrado{
    margin: auto;
}

.cuadro{
    
    width: 200px;
    height: 200px;
    background-color: white;
    align-items: center;
    border: 4px solid #000;
    transition-duration: 1s;
    
}

.visible{
    transition: opacity 1s;
    opacity: 0;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.violeta{
    background-color: purple;
}

.negro{
    background-color: black;
}

.gris{
    background-color: gray;
}


